@charset "UTF-8";
/***********************************
 * Foundation
************************************/
/* Base / include Reset CSS */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: "Helvetica", "Arial", "BIZ UDGothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", "メイリオ", Meiryo, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: left;
  color: #555;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  word-break: normal;
  overflow-wrap: break-word;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

a {
  color: #3498db;
  text-decoration: none;
  background: transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-text-decoration-skip: objects;
}

a:hover, a:active {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: bold;
  text-rendering: optimizelegibility;
}

p {
  margin: 0;
  word-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

b,
strong {
  font-weight: bold;
}

dfn,
em {
  font-style: italic;
}

small {
  font-size: 75%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

pre,
code,
kbd,
samp {
  font-family: "Menlo", "Consolas", "monaco", "monospace", "ＭＳ ゴシック", sans-serif;
  font-size: 1em;
}

pre {
  margin: 0;
  overflow: auto;
  white-space: pre-wrap;
}

/* Horizontalrule */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/* List */
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

dl {
  margin: 0;
}

/* Table */
table {
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

/* Media */
img {
  position: relative;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: none;
}

figure {
  margin: 0;
}

iframe {
  max-width: 100%;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

/* Input */
button,
input {
  overflow: visible;
  line-height: normal;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
  border: 0;
}

legend {
  padding: 0;
  border: 0;
}

button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

/* Input and Others */
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea,
button,
form {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  line-height: 1;
  text-indent: 0;
  background: none;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/***********************************
 * Original Styles
************************************/
body {
  height: 100vh;
  background-color: #a2dedd;
  background-image: linear-gradient(52deg, #a2dedd 0%, #e8f6f6 20%, #e8f6f6 80%, #a2dedd 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-container {
  margin: 0 auto;
  width: 100%;
  max-width: 380px;
  text-align: center;
}

.u-webfont {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 2.2em;
}

.btn-box {
  margin-top: 30px;
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.btn-box__item {
  margin: 0 10px;
  padding: 30px 0;
}
